html,body
{
    width: 100%;
    overflow-x: hidden; 
}

@font-face{
	font-family: 'Tr';
	src: url('assets/SIMPLIFICA Typeface.ttf') format('truetype');
}

@font-face{
	font-family: 'SA';
	src: url('assets/SATriumph.otf') format('opentype');
}

body{
	background-color:#050317;
	font-family:'Tr';
	
}

.logo span{
	font-family:'SA';
}



/*------------------nav-----------------*/

nav{
	background-color:#050317;
}

.navigation{
	display:flex;
	justify-content:center;
}


.s a{
	color:white;
	font-weight:bold;
	margin-left:3vw;
	letter-spacing:2px;
}
.v a{
	color:white;
	font-weight:bold;
	letter-spacing:2px;
}
	
.s a:hover{
	color:lightgrey;
}
.v a:hover{
	color:lightgrey;
}

/*-------------------------------end of nav--------------------------*/

/*--------------------------------header------------------------------*/

.intro, .introduction, .button{
	display:flex;
	justify-content:center;
}

.introduction{
	margin-top:15vh;
	font-size:3rem;
	color:gray;
}

.intro{
	font-family:'SA';
	font-size:4rem;
	color:white;
}

.cv{
	font-size:1.5rem;
	color:white;
	margin-top:5vh;
	background: rgb(35,156,237);
	background: linear-gradient(90deg, rgba(35,156,237,1) 0%, rgba(59,16,167,1) 100%);
	border:0;
	min-width:10vw;
	transition: color 0.1s;
}


.cv:hover{
	color:lightgray;
	background: rgb(40,157,235);
	background: linear-gradient(90deg, rgba(40,157,235,1) 0%, rgba(63,22,163,1) 100%);
}

/*------------------------------end of header--------------------------------*/

/*-------------------------------main----------------------------------------*/

main{
	margin-top:40vh;
	margin-bottom:40vh;
}

.self-image{
	display:inline-block;
	border-style:solid;
	border-width:0px 6px 6px 0px;
	border-color:#308ccf;
	border-radius:8px;
}


.desc h3, .desc2 h3{
	color: lightblue;
}


.about{
	color:white;
}


.title{
	font-size:2.2rem;
}






.pr{
	border:3px solid;
	border-color:#2a7cb8;
	color:white;
}

.pr:hover{
	background-color:#2a7cb8;
	color:white;
}








.portfolio{
	color:white;
	margin-top:30vh;
	margin-bottom:30vh;
}
.sec_title{
	text-align:center;
	margin-bottom:20vh;
}


.project a{
	text-decoration:none;
	color:white;
}
.projects img{
	max-width:40vw;
	max-height:30vh;
}


.image-container{
	display:flex;
	justify-content:center;
}

.image-container img{
	border-radius:8px;
	position:relative;
	right:10px;
	bottom:10px;
}


.project.row{	
	margin-bottom:20vh;
}

.text-container{
	margin-top:5vh;
}

.desc2{
	margin-left:5vw;
}

.more .btn{
	background-color:#2a7cb8;
}
.more .btn:hover{
	background-color:#308ccf;
}
.more2{
	display:flex;
	justify-content:end;
}
.more2 .btn{
	background-color:#2a7cb8;
}
.more2 .btn:hover{
	background-color:#308ccf;
}










.services{
	color:white;
	margin-bottom:30vh;
}

.services h3{
	color:lightblue;
}


.skill.row{
	display:flex;
	justify-content:center;
	margin-bottom:5vh;
}

.skbrd{
	padding:20px;
	background-color: #050317;
	height:35vh;
}

.attempt{
	background: rgb(35,156,237);
	background: linear-gradient(90deg, rgba(35,156,237,1) 0%, rgba(59,16,167,1) 100%);
	padding:5px;
	border-radius:5px;
	box-shadow: 0 0 30px rgba(35, 156, 237, 0.7), 0 0 40px rgba(59, 16, 167, 0.5);
  	transition: box-shadow 1s ease-in-out;
}

.atempt{
	background: rgb(35,156,237);
	background: linear-gradient(90deg, rgba(35,156,237,1) 0%, rgba(59,16,167,1) 100%);
	border-radius:5px;
	box-shadow: 0 0 30px rgba(35, 156, 237, 0.7), 0 0 30px rgba(59, 16, 167, 0.5);
  	transition: box-shadow 1s ease-in-out;
	max-width:79%;
	max-height:98%;
}

.atempt:hover {
  	box-shadow: 0 0 30px rgba(35, 156, 237, 0.7), 0 0 30px rgba(59, 16, 167, 0.5);
}


.attempt:hover {
  	box-shadow: 0 0 30px rgba(35, 156, 237, 0.7), 0 0 30px rgba(59, 16, 167, 0.5);
}




.experience{
	color:white;
}


.exp img{
	max-width:50px;
	max-height:50px;
}

.logos, .name{
	display:flex;
	justify-content:center;
}

.name{
	margin-top:2vh;
}

.exp.row{
	margin-top:20vh;
}



/*----------------------END OF MAIN---------------------*/



/*--------------------FOOTER--------------------*/

footer{
	color:white;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	background: rgb(35,156,237);
	background: linear-gradient(90deg, rgba(35,156,237,1) 0%, rgba(59,16,167,1) 100%);
	padding-bottom:2vh;
	padding-top:2vh;
	box-shadow: 0 0 30px rgba(35, 156, 237, 0.7), 0 0 40px rgba(59, 16, 167, 0.5);
  	transition: box-shadow 1s ease-in-out;
}

footer .img{
	max-width:30px;
	max-height:30px;
	margin-left:2vw;
}

.footer .ft.row{
	margin-top:2vh;
}

.footer .col-sm-6{
	display:flex;
	justify-content:center;
}

.footer .txt{
	margin-left:2vw;
}

.txt p{
	font-size:20px;
}

.line{
	background-color:gray;
	width:100%;
	height:0.1px;
	margin-top:2vh;
}

footer .col-sm-4{
	display:flex;
	justify-content:center;
	margin-top:2vh;
}

footer h1{
	text-align:center;
}

footer a{
	text-decoration:none;
	color:white;
}





.ftlogo span{
	font-family:'SA';
}



/*----------------------end of footer----------------*/

/*-------------------screens----------------------*/

@media screen and (max-width: 576px) {
	.atempt img{
		max-width:300px;
		max-height:300px;
	}
	.attempt{
		margin-top:6vh;
	}
	.projects img{
		max-width:80vw;
		max-height:60vh;
	}

	.desc, .more, .more2{
		margin-left:5vw;
	}
	.more, .more2{
		display:flex;
		justify-content:start;
		margin-bottom:10vh;
	}
	.about .atempt{
		margin-bottom:10vh;
	}
	.self{
		display:flex;
		justify-content:center;
	}
	.title{
		text-align:center;
	}
	.about_me{
		font-size:0.9em;
		text-align:center;
	}
	.work_button{
		display:flex;
		justify-content:center;
	}
	header .intro{
		font-size:2.5rem;
	}
	.nav-link{
		font-size:0.5em;
	}
	.logo{
		display:flex;
		justify-content:center;
	}
	
}

@media screen and (min-width: 577px) and (max-width: 992px) {
	
	.skill .col-lg{
		max-width:50%;
		margin-right:2vw;
	}

	.attempt{
		margin-top:2vh;
	}
	.two{
		order:1;
	}
	.ab{
		display:flex;
		justify-content:center;
	}
	.self{
		display:flex;
		justify-content:center;
		max-width:40%;
		margin-bottom:5vh;
	}
	.title, .work_button{
		display:flex;
		justify-content:center;
	}
	.about_me{
		font-size:1.2rem;
		text-align:center;
	}
	.navbar-brand{
		position:fixed;
		left:4vw;
		top:1vh;
	}


}

@media screen and (min-width: 993px) {
	
	.skill .col-lg{
		max-width:30%;
		margin-right:2vw;
	}
	.attempt{
		margin-top:4vh;
	}
	.first{
		order:2;
	}
	.desc{
		margin-right:5vw;
		margin-left:5vw;
	}
	.more{
		margin-left:5vw;
	}
	.ab{
		display:flex;
		justify-content:center;
	}
	.self{
		max-width:20%;
	}
	.about .col-lg-6:nth-child(2){
		margin-left:10vw;
	}
	.about_me{
		font-size:1.2rem;
	}
	.navbar-brand{
		position:fixed;
		left:4vw;
		top:1vh;
	}

}
